* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    to right,
    rgb(16, 15, 19),
    rgb(12, 12, 34),
    rgb(22, 14, 46)
  );
}
h1 {
  text-align: center;
  color: rgb(73, 38, 248);
  margin: 10px 0px;
}
.clock {
  width: 500px;
  height: 500px;
  background-color: rgb(8, 8, 26);
  border-radius: 500px;
  margin: 20px auto;
  position: relative;
  transform: rotate(90deg);
  border: 5px solid rgb(73, 38, 248);
  box-shadow: 5px 5px 40px 5px rgba(29, 162, 214, 0.428);
}
.digital {
  text-align: center;
  color: rgb(55, 255, 0);
  transform: rotate(-90deg);
  padding: 4px;
  position: absolute;
  border-radius: 2px;
  width: 27%;
  height: 7%;
  padding: 2px;
  font-size: 20px;

  left: 0;
  right: 0;
  top: 50px;
  margin: auto;
  transform: rotate(-90deg);
  transform-origin: right;
  box-shadow: 0.3px 0.3px 10px 2px rgba(16, 0, 244, 0.393);
  border: 1.5px solid blue;
}
.radius {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  padding: 1px;
  width: 250px;
  transform-origin: right;
  border-radius: 100px;
}
.second {
  height: 1px;
  background-color: chartreuse;
  clip-path: polygon(15% 0%, 98% 0%, 98% 98%, 15% 98%);
}
.minute {
  height: 1px;
  background-color: rgb(235, 255, 58);
  clip-path: polygon(22% 0%, 98% 0%, 98% 98%, 22% 98%);
}
.hour {
  height: 3px;
  background-color: rgb(248, 39, 32);
  clip-path: polygon(30% 0%, 98% 0%, 98% 98%, 30% 98%);
}
.number {
  position: absolute;
  transform-origin: left;
  clip-path: polygon(98% 0%, 100% 0%, 100% 100%, 98% 100%);
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 50%;
  height: 3px;
  background-color: aliceblue;
}
@media only screen and (max-width: 500px) {
  .clock {
    width: 400px;
    height: 400px;
  }
  .radius {
    width: 200px;
  }
}
